In [6]:
import pandas as pd
from geopy.geocoders import Nominatim

In [7]:
nom = Nominatim(scheme="http")

In [14]:
loc = nom.geocode("100ft road, Indiranagar, Bangalore, Karnataka")
loc.latitude

12.9671935

In [17]:
df = pd.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [19]:
df["Address"] = df["Address"] + ", " + df["City"] + ", " + df["State"]

In [20]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Richvalley,20

In [21]:
df["Coordinates"] = df["Address"].apply(nom.geocode)

In [22]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Mission District, SF, California..."
1,2,"735 Dolores St, San Francisco, CA 94119",San Francisco,CA 94119,USA,Bready Shop,15,"(CA-13, San Francisco, Petén, Guatemala, (16.6..."
2,3,"332 Hill St, San Francisco, California 94114",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Liberty Street Historic District..."
3,4,"3995 23rd St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St, San Francisco, California",San Francisco,California,USA,Sanchez,12,"(Sanchez Street, Noe Valley, SF, California, 9..."
5,6,"551 Alvarado St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarado Street, Noe Valley, SF, California, ..."

In [27]:
df["latitude"] = df["Coordinates"].apply(lambda x: x.latitude)
df["longitude"] = df["Coordinates"].apply(lambda x: x.longitude)

In [28]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,latitude,longitude
0,1,"3666 21st St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Mission District, SF, California...",37.757051,-122.418804
1,2,"735 Dolores St, San Francisco, CA 94119",San Francisco,CA 94119,USA,Bready Shop,15,"(CA-13, San Francisco, Petén, Guatemala, (16.6...",16.693559,-89.743167
2,3,"332 Hill St, San Francisco, California 94114",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Liberty Street Historic District...",37.756102,-122.421041
3,4,"3995 23rd St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,"1056 Sanchez St, San Francisco, California",San Francisco,California,USA,Sanchez,12,"(Sanchez Street, Noe Valley, SF, California, 9...",37.748362,-122.429346
5,6,"551 Alvarado St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarado Street, Noe Valley, SF, California, ...",37.753666,-122.434440